@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&Nunito:wght@400;700&family=Work+Sans:wght@900&display=swap');


* {
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}


input,
button,
select {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  background: transparent;
  outline: none;
}


html,
body,
#root {
  height: 100%;
}


button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

