@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Nunito:wght@400;700&family=Work+Sans:wght@900&display=swap');


* {
  margin: 0;
  line-height: 1.2;
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
  color: #252835;
}


input,
button,
select {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  background: transparent;
  outline: none;
  color: #252835;
}


html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
}


button,
a {
  cursor: pointer;
}

a,
a:link,
a:hover,
a:visited,
a:active, button {
  text-decoration: none;
  color: #f0f0f0;
}

